@font-face {
	font-family: "Flaticon";
	src: url("flaticon.eot");
	src: url("flaticon.eot#iefix") format("embedded-opentype"),
	url("flaticon.woff") format("woff"),
	url("flaticon.ttf") format("truetype"),
	url("flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
	font-family: Flaticon;
    font-size: 20px;
	font-style: normal;

}
.flaticon-facebook:before {
	content: "\e000";
}
.flaticon-googlePlus:before {
	content: "\e001";
}
.flaticon-linkedin:before {
	content: "\e002";
}
.flaticon-Pinterest:before {
	content: "\e003";
}
.flaticon-twitter:before {
	content: "\e004";
}