
.btn {
  display: none;
}

.works {
  width: 25%;
  float: right;
}

body {
  padding: 10px;
}

.imgWorks:nth-child(n+7) {
  display: none;
}

 .gallery {
    display: none;
    max-height: 700px;
overflow: hidden;
  }

@media (min-width: 761px) {
  .gallery {
    display: block;
  }

  .imgWorks img {
    width: 100%;
  }
 .blImg {float:left; margin: 10px;}
 .bl3 {width: 70% ; margin: 10px;}
}
@media (max-width: 768px) {
  .gallery {
    display: none;
  }
}
