body {
	margin: auto;	

}

li {
	list-style:none;
}



 li.title {
	cursor: pointer;	
	font-weight: bold;
	font-size: 1.5em;
	line-height: 2em;
	background: #e3e3e3;
	border-bottom: 1px solid #e5e5e5;
	border-top: 1px solid white;
}

.hide { display:none;}

