@charset "UTF-8";
/* line 5, C:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}


q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}


article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: #626f87;
}

/*menu*/

.container {
  max-width: 100%;
  margin: 0 auto;
}

.nav,
#touch-menu {
  background: #3e4156;
}
.nav li {float: left;}
.nav li a,
#touch-menu {
  display: block;
  padding: 10px 15px;
  font-weight: bold;
  font-size: 14px;
  color: #fff;
}
.nav li a:hover,
#touch-menu:hover {
  background: #515572;
}

#touch-menu {display: none;}

/*back picture*/
.back-picture {
  background: #3e4156 url('../img/magicalbag.jpg') no-repeat center;
  background-size: cover;
  color:white;
  max-width: 100%;  
  font-size: 3em;
}
.site-name{
  padding-top: 12%;
  padding-bottom: 12%;

}
/*back-picture end*/

/*menu end*/

.bl4:hover i {
  color:#ed485c;
}

.btnred {
  border: none;
  outline: none;
}


.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {clear: both;}


.imgWorks img {
  display: block;
  float: left;
  height: auto;
}

.fsi {
  font-style: italic;
}

.wrap {
  width: 100%;

}

.bl_txt {
  width: calc(100% - 40px);
  margin: 5 20px;
}

.blocktr1 {
  width: 170px;
  height: 170px;
  background:blue;
  line-height: 200px;
  text-align: center;
  
 background: url('../01.jpg');

  moz-background-size:contain;  

	background-color:blue;
	margin: auto;	
}

.bl13 {
  min-height: 800px;
}

.blocktr2 {
  width: 170px;
  height: 170px;
  background:blue;
  line-height: 200px;
  text-align: center;
  background: url('../img/02.jpg');
  moz-background-size:contain;  
  background-color:blue;
  margin: auto; 
}

.blocktr3 {
  width: 170px;
  height: 170px;
  background:blue;
  line-height: 200px;
  text-align: center;  
  background: url('../img/03.jpg');
  moz-background-size:contain;  
  background-color:blue;
  margin: auto; 
}


.trbdr {
    width: 0;
    height: 0;
    border-left: 85px solid white;
    border-right: 85px solid white;
    border-bottom: 170px solid transparent;

}
 
 .mg10 {
   margin-top: 20px;}

footer .triangle {
    margin: 5px calc(10% - 35px);
    padding: 0;
    float: left;
  }

.do .triangle {
  border-left: 84px solid transparent;
  border-right: 84px solid transparent;
  border-top: 135px solid gray;
  margin: 0 auto;
}

.tw {  border-top: 54px solid #24b1d4;}
.pt {  border-top: 54px solid #cb2027;}
.fb {  border-top: 54px solid #44619d;}
.gp {  border-top: 54px solid #db412e;}
.in {  border-top: 54px solid #2671ae;}

.do i {
  color: white;
  margin-left: -25px;
  margin-bottom: 20px;
  top: -94.5px;
  position: relative;
  font-size: 40px;
}

.triangle {
  width: 0;
  height: 0;
}
  
.social .triangle {
  border-left: 35px solid transparent;
  border-right: 35px solid transparent;
}

.social a {
  padding: 10px;
  margin-left: -20px;
  top: -45px;
  position: relative;
}

.wrap {   background-color: gray; }

 a:hover, a:visited, a:link, a:active {
  color: white;
  text-decoration: none;
}



.wrap img {
  max-width: 100%;
  height: auto;
}


.nav a:hover {  color: #ed485c; }*/
.blinfo { display: none;}
.dat  {float:left;}
.comment {float:right;}
.t-a-c {text-align: center;} 
.tal{text-align: left;} 

  
@media (max-width: 650px) {
  .imgWorks img {
    width: 50%;
  }



}


@media (max-width: 349px) {
  .triangle {
    margin: 0  auto;
    margin-bottom: 6.75px;
  }
}
@media (min-width: 360px) and (max-width: 479px) {
  .wrapper * {
    margin: 0 center;
  }
  
  input {
    width: calc(100% - 42px);
  }

  textarea {
    width: calc(100% - 40px);
  }

  button {
    width: calc(100% - 40px);
  }

  input, button, textarea {
    margin: 5px 20px;
    padding: 0;
  }
}

@media (min-width: 480px) {
  footer .triangle {
    margin: 5px 15px;
    float: left;
  }

  footer .triangle:first-child {
    margin-left: 0;
  }

  footer .triangle:last-child {
    margin-right: 0;
  }

  footer input {
    width: 266px;
  }

  footer button {
    margin-left: 30px;
    width: 170px;
  }
  .blImg img {
		max-width: 100%;
	}
}


@media (min-width:600px) {
 .bl3 {
      width:300px;
      display: inline-block      
    }
  .blImg img {
    width:300px;
    height:auto;
    } 
  .blinfo {
    display:block;
    }
  .blog {
  text-align: center;
    }

  .site-name{
  padding-top: 18%;
  padding-bottom: 18%;

}


}

@media (min-width: 651px)  {
  .imgWorks img {
    width: 20%;
  }

}

@media (min-width: 1200px)  {
  .container {
    width: 1120px;
  }

}


#contacts>*{margin:10px 0}
#contacts a{color:black}
.address{float:left}
form{float:right}
form>*{margin:10px}
@media (max-width:480px){form{width:100%}}
@media (min-width:761px){textarea{width:300px}}



@media (min-width: 481px) and (max-width: 767px) {
  
  
  .bl4 {
     float: left;
    width: 210px;
    margin: 10px calc(25% - 105px);
  }
}

@media (max-width: 768px) {
  .nav {display: none;}
  .nav li {float: none;}
  .nav li a {
    border-top: 1px solid #eee;
    border-left: 3px solid transparent;
    background: #fff;
    color: #666;
  }
  .nav li:first-child a {border-top: none;}
  .nav li a:hover {
    background: #f0f0f0;
    color: #444;
    border-left: 3px solid #515572;
  }
  #touch-menu {display: block;}
}


@media (min-width: 768px){
  
  .social .triangle {
    float: left;
  }

  .bl4 {
    float: left;
  }

  .bl4 {
    width: 210px;
    margin: 10px calc((100% - 4*210px)/8);
  }
}


.tab1, .tab2, .tab3, .tab4, .tab5 {display: none;}

#radiobutton1:checked~.tab1 ,
#radiobutton2:checked~.tab2,
#radiobutton3:checked~.tab3,
#radiobutton4:checked~.tab4,
#radiobutton5:checked~.tab5  { width:40%}


.txt li {
	list-style:none;
}



.txt li.title {
	cursor: pointer;	
	font-weight: bold;
	font-size: 1.5em;
	line-height: 2em;
	background: #e3e3e3;
	border-bottom: 1px solid #e5e5e5;
	border-top: 1px solid white;
}

.hide { display:none;}


